.item-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #262626f7;
    text-align: center;
    background-color: #fff;
}

.item-container h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.item-container p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.item-container img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.item-container img:hover {
    transform: scale(1.05);
}

.item-container h3:nth-child(2) {
    font-size: 1.3rem;
    color: #0088a9;
    font-weight: bold;
}